@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Add Role";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add New", "Create", "Role")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Users")
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
        </tr>}
</table> 